@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 992px) {
 
    .container-input{
        display: block;
        
    }

    .output{
        display: block;
        
    }

    .container-bnt {
        
        margin-top: 50px;
        
    }

    h1{
        display: none;
    }
   

    footer img{
        max-width: 30px;
        max-height: 30px;
        margin-right: 50px;
        
        
        
    }

    .input , p{
        display: inline-block;
        padding-bottom: 10px;
        
    }

    p{
        display: none;
        

    }


   
}


